@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;


.layout {
    display: grid;
    height: 100vh;
  
    grid-template-rows: auto 1fr auto;
}

img {
    max-width: 100%;
}

.nav-icon {
    @apply w-[1.5rem] h-[1.5rem] text-buttonColor-400 cursor-pointer
}

.nav-link {
    @apply hover:underline hover:decoration-textColor-600 hover:decoration-1
}

.product-slider-container {
    margin: 0 auto;
    
}
