@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
  }


/* .layout {
    display: grid;
    height: 100vh;
  
    grid-template-rows: auto 1fr auto;
} */

.layout {
    overflow: hidden;
}

img {
    max-width: 100%;
    /* aspect-ratio: 1; */
}

.nav-icon {
    @apply w-[1.5rem] h-[1.5rem] text-buttonColor-400 cursor-pointer
}

.nav-link {
    @apply hover:underline hover:decoration-textColor-600 hover:decoration-1
}

.product-slider-container {
    margin: 0 auto;
    
}

.hero-image {
    width: 100%;
    object-fit: cover;
}

.button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* .slick-hide-arrow {
    display: none;
}

.slick-show-arrow {
    display: block;
} */

.darkGray {
    background-color: rgb(11, 11, 11);
}

.lightGray {
    background-color: rgb(41, 40, 40);
}